@import url("https://fonts.googleapis.com/css?family=Barlow");
@import url("https://fonts.googleapis.com/css?family=Exo+2:700");

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 24px;
}

.window-container {
  width: 100vw;
  height: 100vh;
  background: url("https://source.unsplash.com/collection/827751/1600x900") no-repeat;
  background-size: cover;
  font-family: "Barlow", sans-serif;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer, header {
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  left: 0;
  width: 100vw;
  text-align: center;
  padding: 0.5rem 0;
}
footer {
  bottom: 0;
}
header {
  top: 0;
}
a {
  color: lightgreen;
}

.inner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: rgba(0, 0, 0, 0.4);
  padding: 7% 0;
  border-radius: 1rem;
}

section {
  max-width: 42rem;
  width: 80%;
  text-align: center;
}

.name {
  font-size: 2rem;
  margin: 0.5rem 0 1rem;
}

.logo {
  margin: 0 auto;
  background: black;
  max-width: 2.5rem;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.5rem;
}

.message span {
  font-family: "Exo 2", sans-serif;
  color: whitesmoke;
  display: block;
}

.pl, .en, .fr {
  margin: 0.6rem 0;
  transition: transform 1s ease-in-out;
}

@media (min-width: 32rem) {
  .pl {
    transform: translate(-6rem, -4rem) rotate(35deg);
  }
  .en {
    transform: translate(6rem, 4rem) rotate(-35deg);
  }
  .fr {
    transform: translateY(4rem) rotate(15deg);
  }
}
