@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 26px;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

.window-container {
  width: 100vw;
  height: 100vh;
  color: white;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  /* background: rgba(0, 0, 0, 0.3); */
  position: absolute;
  overflow-x: hidden;
  overflow-y: hidden;
  scr
}

.video {
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: -1;
}

@media screen and (max-aspect-ratio: 1920/1080) {
  .video {
    min-height: 100%;
    width: auto;
  }    
}
@media screen and (min-aspect-ratio: 1920/1080) {
  .video {
    min-width: 100%;
    height: auto;
  }
}

.inner-container {
  max-width: 30%;
  text-align: left;
}

.bold {
  font-weight: 800;
}

.logo {
  background: url("lib/licorne.svg") no-repeat;
  background-size: contain;
  max-width: 14rem;
  width: 14rem;
  height: 10rem;
  padding: 0.5rem;
  margin-left: -18px;
}

.counter {
  font-size: .8rem;
  display: flex;
  margin: 1rem 1rem 1rem 0;
}

.counter .number{
  padding: .5rem;
  border-left: 1px solid white;
}

.subscriptionForm {
  display: flex;
  flex-direction: column;
}

.subscriptionForm .subscriptionMessage {
  font-size: .8rem;
  margin: .1rem .1rem .1rem 0;
}

.subscriptionForm input {
  width: 80%;
  min-width: 10rem;
  margin: .4rem 0;
}

.subscriptionForm .subscribeEmail {
  font-size: .8rem;
  padding: .3rem;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid white;
  border-radius: 1px;
  color: white;
}

.subscriptionForm .subscribeButton {
  font-size: .8rem;
  padding: .3rem;
  background-color: white;
  border: 1px solid white;
  border-radius: 1px;
  color: #194583;
  margin-bottom: .8rem;
  cursor: pointer;
}

/* Second Page */

.contact-form {
  position: absolute;
  top: 100vh;
  width: 100%;
  height: 100vh;
  z-index: 2;
}

